## UAS

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from collections import OrderedDict
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score, f1_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.datasets import make_classification
from sklearn.svm import SVC

In [2]:
dataset = "https://raw.githubusercontent.com/Tegar11-F/Data-Set/main/Prediksi_BatuGinjal_Berdasarkan_Analisis_Urine.csv"
data = pd.read_csv(dataset)
data

    gravity    ph  osmo  cond  urea   calc  target
0     1.021  4.91   725  14.0   443   2.45       0
1     1.017  5.74   577  20.0   296   4.49       0
2     1.008  7.20   321  14.9   101   2.36       0
3     1.011  5.51   408  12.6   224   2.15       0
4     1.005  6.52   187   7.5    91   1.16       0
..      ...   ...   ...   ...   ...    ...     ...
74    1.025  7.90   721  23.6   301   9.04       1
75    1.017  4.81   410  13.3   195   0.58       1
76    1.024  5.40   803  21.8   394   7.82       1
77    1.016  6.81   594  21.4   255  12.20       1
78    1.015  6.03   416  12.8   178   9.39       1

[79 rows x 7 columns]

Min Max Normalisasi

In [3]:
dataNormalisasi = ['gravity', 'ph', 'osmo','cond','urea','calc']
FrameNormalisasi = data[dataNormalisasi]
FrameNormalisasi

    gravity    ph  osmo  cond  urea   calc
0     1.021  4.91   725  14.0   443   2.45
1     1.017  5.74   577  20.0   296   4.49
2     1.008  7.20   321  14.9   101   2.36
3     1.011  5.51   408  12.6   224   2.15
4     1.005  6.52   187   7.5    91   1.16
..      ...   ...   ...   ...   ...    ...
74    1.025  7.90   721  23.6   301   9.04
75    1.017  4.81   410  13.3   195   0.58
76    1.024  5.40   803  21.8   394   7.82
77    1.016  6.81   594  21.4   255  12.20
78    1.015  6.03   416  12.8   178   9.39

[79 rows x 6 columns]

In [4]:
scaler = MinMaxScaler()

In [5]:
scaler.fit(FrameNormalisasi)

MinMaxScaler()

In [6]:
hasilNormalisasi = scaler.transform(FrameNormalisasi)

In [7]:
hasilNormalisasi = pd.DataFrame(hasilNormalisasi,columns = dataNormalisasi)
hasilNormalisasi

     gravity        ph      osmo      cond      urea      calc
0   0.457143  0.047170  0.512869  0.270517  0.709836  0.160903
1   0.342857  0.308176  0.371783  0.452888  0.468852  0.304869
2   0.085714  0.767296  0.127741  0.297872  0.149180  0.154552
3   0.171429  0.235849  0.210677  0.227964  0.350820  0.139732
4   0.000000  0.553459  0.000000  0.072948  0.132787  0.069866
..       ...       ...       ...       ...       ...       ...
74  0.571429  0.987421  0.509056  0.562310  0.477049  0.625970
75  0.342857  0.015723  0.212583  0.249240  0.303279  0.028934
76  0.542857  0.201258  0.587226  0.507599  0.629508  0.539873
77  0.314286  0.644654  0.387989  0.495441  0.401639  0.848977
78  0.285714  0.399371  0.218303  0.234043  0.275410  0.650670

[79 rows x 6 columns]

In [8]:
target = data[['target']]
label = pd.concat([target, hasilNormalisasi], axis=1)
label

    target   gravity        ph      osmo      cond      urea      calc
0        0  0.457143  0.047170  0.512869  0.270517  0.709836  0.160903
1        0  0.342857  0.308176  0.371783  0.452888  0.468852  0.304869
2        0  0.085714  0.767296  0.127741  0.297872  0.149180  0.154552
3        0  0.171429  0.235849  0.210677  0.227964  0.350820  0.139732
4        0  0.000000  0.553459  0.000000  0.072948  0.132787  0.069866
..     ...       ...       ...       ...       ...       ...       ...
74       1  0.571429  0.987421  0.509056  0.562310  0.477049  0.625970
75       1  0.342857  0.015723  0.212583  0.249240  0.303279  0.028934
76       1  0.542857  0.201258  0.587226  0.507599  0.629508  0.539873
77       1  0.314286  0.644654  0.387989  0.495441  0.401639  0.848977
78       1  0.285714  0.399371  0.218303  0.234043  0.275410  0.650670

[79 rows x 7 columns]

In [9]:
percent_amount_of_test_data = 0.3

Menghitung Data
```
# data latih (nilai data)
X_train 

# data tes (nilai data)
X_test 

# data latih (kelas data)
y_train

# data tes (kelas data)
y_test
```

In [10]:
matrices_X = label.iloc[:,1:7].astype('int')
matrices_Y = label.iloc[:,0].astype('int')

In [11]:
X1 = hasilNormalisasi.iloc[:,1:7].astype('int')
Y1 = hasilNormalisasi.iloc[:, 0].astype('int')

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X1, Y1, test_size = percent_amount_of_test_data, random_state=0)

In [13]:
X_train.shape

(55, 5)

In [14]:
Y1

0     0
1     0
2     0
3     0
4     0
     ..
74    0
75    0
76    0
77    0
78    0
Name: gravity, Length: 79, dtype: int64

In [15]:
### Dictionary to store model and its accuracy

model_accuracy = OrderedDict()

### Dictionary to store model and its precision

model_precision = OrderedDict()

### Dictionary to store model and its recall

model_recall = OrderedDict()

In [16]:
label

    target   gravity        ph      osmo      cond      urea      calc
0        0  0.457143  0.047170  0.512869  0.270517  0.709836  0.160903
1        0  0.342857  0.308176  0.371783  0.452888  0.468852  0.304869
2        0  0.085714  0.767296  0.127741  0.297872  0.149180  0.154552
3        0  0.171429  0.235849  0.210677  0.227964  0.350820  0.139732
4        0  0.000000  0.553459  0.000000  0.072948  0.132787  0.069866
..     ...       ...       ...       ...       ...       ...       ...
74       1  0.571429  0.987421  0.509056  0.562310  0.477049  0.625970
75       1  0.342857  0.015723  0.212583  0.249240  0.303279  0.028934
76       1  0.542857  0.201258  0.587226  0.507599  0.629508  0.539873
77       1  0.314286  0.644654  0.387989  0.495441  0.401639  0.848977
78       1  0.285714  0.399371  0.218303  0.234043  0.275410  0.650670

[79 rows x 7 columns]

Naive Bayes

In [17]:
x = data.drop(columns='target') #Input
y = data['target'] #Output
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.30 , random_state=1)
model = GaussianNB()
model.fit(x_train , y_train)
pred = model.predict(x_test)
score = accuracy_score(y_test , pred)
print(score)

0.8333333333333334

Contoh terdapat data baru


---

*    gravity : 1.025
*    ph      : 7.90
*    osmo    : 721
*    cond    : 23.6
*    urea    : 301
*    calc    : 9.04

Mencari Target berdasarkan isi diatas

```
Target
[1.025,	7.90,	721,	23.6,	301,	9.04]
```

In [18]:
pred = model.predict(np.array([[1.025,	7.90,	721,	23.6,	301,	9.04]]))
pred

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

array([1])

In [19]:
import pandas
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import pickle
model = GaussianNB()
model.fit(X_train, y_train)
# save the model to disk
filename = 'model_batuginjal_NB.pkl'
pickle.dump(model, open(filename, 'wb'))